<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar', books: @books %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <tbody>
            <tr>
            <th scope="row">
              <%= image_tag @book.user.profile_image, size:"100x100" %> <br>
              <%= link_to user_path(@book.user.id) do %>
              <%= @book.user.name %>   
              <% end %>
            </th>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
              <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %></td>
              <% end %>
            </tr>
         </tbody>
       </table>
    </div>
  </div>
</div>